* {
  margin: 0px;
  padding: 0px;
}

body {
  padding-top: 20px;
  text-align: center;
  background-image: url("../imgs/old_map.png");
}

#page {
    width: 960px;
    margin: 0px auto 0px auto;
    text-align: left;
}

#header {
    font-family: 'Courier';
    color: white;
    font-size: 1.1em;
    border-bottom: 6px solid black;
    background-color: #313B44;
}

h1 {
    background-image: url('../imgs/logo.png');
    background-repeat: no-repeat;
    background-position: 25px center;
    padding: 20px 100px 20px 100px;
}

#nav {
    font-family: 'Courier';
    font-size: 1.4em;
    color: silver;
    text-align: center;
    background-image: url('../imgs/red015.jpg');
}

li {
    display: inline-block;
    padding-top: 80px;
    margin: 0px 100px 20px 100px;
    list-style-type: none;
    text-align: center;
    cursor: default;
}

#contenidos {
    background-image: url('../imgs/book.png');
    background-repeat: no-repeat;
    background-position: center 10px;
}

#videos {
    background-image: url('../imgs/film.png');
    background-repeat: no-repeat;
    background-position: center 10px;
}

#contacto {
    background-image: url('../imgs/mail.png');
    background-repeat: no-repeat;
    background-position: center 10px;
}