* {
  margin: 0px;
  padding: 0px;
}

body {
  padding-top: 20px;
  text-align: center;
  background-image: url("../imgs/old_map.png");
}

main {
    width: 960px;
    margin: 0px auto 0px auto;
    text-align: left;
}

.principal {
    font-family: 'Courier';
    color: white;
    font-size: 1.1em;
    border-bottom: 6px solid black;
    background-color: #313B44;
}

h1 {
    background-image: url('../imgs/logo.png');
    background-repeat: no-repeat;
    background-position: 25px center;
    padding: 20px 100px 20px 100px;
}

nav {
    font-family: 'Courier';
    font-size: 1.4em;
    color: silver;
    text-align: center;
    background-image: url('../imgs/red015.jpg');
}

li {
    display: inline-block;
    padding-top: 80px;
    margin: 0px 100px 20px 100px;
    list-style-type: none;
    text-align: center;
    cursor: default;
}

#contenidos {
    background-image: url('../imgs/book.png');
    background-repeat: no-repeat;
    background-position: center 10px;
}

#videos {
    background-image: url('../imgs/film.png');
    background-repeat: no-repeat;
    background-position: center 10px;
}

#contacto {
    background-image: url('../imgs/mail.png');
    background-repeat: no-repeat;
    background-position: center 10px;
}

a {
  text-decoration: none;
  color: orange;  
}

a:hover {
    color: white;
}

#content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
    background-image: url('../imgs/lgrey008.jpg');
    height: 502px;    
}

article {
    width: 240px;
    border: 1px solid lightgray;
    background-color: white;
    text-align: center;
    line-height: 1.8em;
    padding: 5px 5px 22px 5px; /*arriba derecha abajo izquierda*/
    margin: 30px;
    float: left;
}

.article_header {
border-bottom: 1px solid #999999;
}

h2 {
    padding: 10px;
    font-size: 1.2em;
}

footer {
    clear: both;
    color:white;
    font-size: 0.7em;
    text-align: center;
    background-color: #313B44;
    border-top: 6px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer small {
    color: white;
}

span {
    font-weight: bold;
}