:root {
  --ancho-total: 1920px;
  --color-azul: #8237fc;
  --color-blanco: #fff;
  --fuente: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --fondo-gris: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
}

footer,
#footer_caja1,
#footer_caja2,
#footer_mini_caja1,
#footer_mini_caja2 {
  outline: solid 2px black;
}

#page {
  width: var(--ancho-total);
  font-family: var(--fuente);
}

header {
  height: 100px;
}

#logo {
  font-size: 30px;
  margin-top: 30px;
  width: auto;
  height: 34px;
  float: left;
  margin-left: 100px;
  font-weight: bold;
}

nav {
  background-color: var(--fondo-gris);
  height: 100%;
  width: 55%;
  float: right;
  font-size: 24px;
}

ul {
  margin-top: 20px;
  margin-left: 40px;
}

ul li {
  margin-top: 18px;
  margin-right: 40px;
  float: left;
  list-style-type: none;
}

#botones {
  width: 600px;
  line-height: 30px;
  float: left;
}

#botones button {
  margin-top: 10px;
  font-family: var(--fuente);
  float: left;
  font-size: 24px;
  margin-left: 15px;
  margin-right: 10px;
  width: 230px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}

.descarga {
  background-color: var(--color-azul);
  color: var(--color-blanco);
}

.sesion {
  background-color: var(--color-blanco);
}

/*==============PORTADA===============*/

#section1 {
  width: 100%;
  height: 100vh;
  clear: both;
}

#caja1_portada {
  width: 45%;
  float: left;
  height: 90%;
  padding-top: 50px;
}

#caja1_portada > * {
  margin-top: 10px;
}

.mini_caja1 {
  background-image: url("../../recursos/imagen_mini_caja1_seccion1.png");
  background-repeat: no-repeat;
  margin-left: 100px;
  width: 430px;
  height: 45px;
}

.mini_caja2 {
  margin-left: 100px;
  width: 600px;
  height: auto;
  margin-bottom: 30px;
}

.mini_caja2 p {
  font-family: var(--fuente);
  font-size: 90px;
  font-weight: bold;
}

.mini_caja3 {
  margin-left: 100px;
  width: 600px;
  height: auto;
  margin-bottom: 30px;
}

.mini_caja3 p {
  font-family: var(--fuente);
  font-size: 30px;
}

.mini_caja4 {
  margin-left: 100px;
  height: auto;
  width: 250px;
  margin-bottom: 80px;
}

.mini_caja4 button {
  font-size: 25px;
  border: none;
  border-radius: 10px;
  background-color: var(--color-azul);
  padding: 30px 20px;
  color: var(--color-blanco);
}

.mini_caja5 {
  height: 60px;
  width: 430px;
  margin-left: 100px;
  float: left;
  background-image: url("../../recursos/mini_cajas5y6_seccion1.png");
  background-repeat: no-repeat;
}

#caja2_portada {
  width: 55%;
  height: 100%;
  float: left;
  background-image: url("../../recursos/imagenGrande_seccion1.png");
  background-repeat: round;
}

/*================SECTION=2==============*/

#section2 {
  width: 100%;
  height: 100vh;
  clear: both;
}

#section2_caja1 {
  width: 50%;
  height: 100%;
  float: left;
  background-image: url("../../recursos/seccion2_imagen.png");
  background-repeat: round;
}

#section2_caja2 {
  width: 50%;
  height: 100%;
  float: left;
}

.mini_caja1_section2 {
  margin-left: 150px;
  margin-top: 160px;
  width: 550px;
  height: auto;
}

.mini_caja1_section2 p {
  font-family: var(--fuente);
  font-size: 70px;
  font-weight: bold;
}

.mini_caja2_section2 {
  margin-left: 150px;
  margin-right: 250px;
  margin-top: 40px;
  width: 630px;
  height: 350px;
  background-image: url("../../recursos/timeline_seccion2.png");
  background-repeat: no-repeat;
}

/*================SECTION=3===============*/

#section3 {
  width: 100%;
  height: 100vh;
  clear: both;
  padding-top: 300px;
}

#section3_caja1 {
  margin-left: 170px;
  width: 80%;
  height: 70%;
  float: left;
  background-color: var(--fondo-gris);
  border: none;
  border-radius: 40px;
}

.mini_caja1_section3 {
  margin-left: 100px;
  margin-top: 100px;
  width: 580px;
  height: auto;
}

.mini_caja1_section3 p {
  font-family: var(--fuente);
  font-size: 65px;
  font-weight: bold;
}

.mini_caja2_section3 {
  margin-left: 100px;
  margin-top: 40px;
  width: 580px;
  height: auto;
}

.mini_caja2_section3 p {
  font-size: 25px;
  font-family: var(--fuente);
}

.mini_caja3_section3 {
  margin-left: 100px;
  margin-top: 40px;
  width: 250px;
  height: auto;
}

.mini_caja3_section3 button {
  width: 100%;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--color-azul);
  padding: 30px 20px;
  color: var(--color-blanco);
  font-size: 22px;
}

#mini_cajas_section3 {
  float: left;
  width: 50%;
}

.mini_caja4_section3 {
  float: left;
  width: 50%;
  height: 100%;
  border: none;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  background-image: url("../../recursos/section3_imagen_caja2.png");
  background-repeat: round;
}

/*=====================SECTION=4======================*/

#section4 {
  width: 100%;
  height: 100vh;
  clear: both;
}

#caja1_section4 {
  height: auto;
  margin-bottom: 30px;
}

.mini_caja1_section4 {
  margin-left: 30px;
  height: auto;
  width: 800px;
  margin-left: 170px;
}

.mini_caja1_section4 p {
  font-size: 70px;
  font-weight: bold;
}

.mini_caja2_section4 {
  margin-left: 170px;
  height: auto;
  margin-top: 10px;
  width: 600px;
}

.mini_caja2_section4 p {
  font-size: 25px;
}

.card1 {
  width: 25%;
  height: 80%;
  float: left;
  margin-top: 10px;
  margin-left: 170px;
}

.card1_cont {
  height: 70%;
  width: 100%;
  background-image: url("../../recursos/card1_imagen.png");
  background-repeat: round;
  border-radius: 10px;
}

.card1_cont2 {
  height: 20%;
  width: 100%;
}

.card1_caja1 {
  margin-top: 15px;
  width: 98.7%;
  margin-left: 3px;
  height: 30px;
  font-size: 24px;
  /* background-image: url('../../recursos/fecha_card1.png');
  background-repeat: round;
  background-repeat: no-repeat; */
}

.primer_texto {
  float: left;
}
.segundo_texto {
  float: right;
}

.card2 {
  width: 25%;
  height: 80%;
  float: left;
  margin-top: 10px;
  margin-left: 30px;
}

.card2_cont {
  height: 70%;
  width: 100%;
  background-image: url("../../recursos/card2_imagen.png");
  background-repeat: round;
  border-radius: 10px;
}

.card2_cont2 {
  height: 20%;
  width: 100%;
}

.card2_caja1 {
  margin-top: 15px;
  width: 98.7%;
  margin-left: 3px;
  height: 30px;
  font-size: 24px;
}

.card3 {
  width: 25%;
  height: 80%;
  float: left;
  margin-top: 10px;
  margin-left: 30px;
}

.card3_cont {
  height: 70%;
  width: 100%;
  background-image: url("../../recursos/card3_imagen.png");
  background-repeat: round;
}

.card3_cont2 {
  height: 20%;
  width: 100%;
}

.card3_caja1 {
  margin-top: 15px;
  width: 98.7%;
  margin-left: 3px;
  height: 30px;
  font-size: 24px;
}

.card_caja2 {
  clear: both;
  width: 98.7%;
  height: auto;
  margin-left: 3px;
  margin-top: 5px;
  font-weight: bold;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card_caja3 {
  margin-top: 10px;
  width: 25%;
  margin-left: 3px;
  height: auto;
  margin-top: 5px;
}

.card_caja3 p {
  color: #7118ff;
  font-size: 20px;
  font-weight: bold;
}

/*===================SECTION=5====================*/

#section5 {
  width: 100%;
  height: 100vh;
  clear: both;
}

#caja1_section5 {
  height: 40%;
  width: 80%;
  padding-top: 50px; /* En lugar de margin-top en el hijo */
  padding-left: 400px;
}

.caja1_cont {
  padding-top: 10px;
  margin-left: 50px;
  padding-left: 100px;
  padding-right: 100px;
  width: 50%;
  height: 80%;
  background-color: var(--color-azul);
  border-radius: 10px;
}

#caja2_section5 {
  height: 31%;
  width: 100%;
  padding-top: 130px;
}

.mini_caja_cont {
  width: 800px;
  height: 88%;
  padding-top: 15px;
  padding-left: 15px;
}

.cajita {
  width: 97%;
  height: auto;
  text-align: center;
}

.cajita p {
  font-size: 70px;
  color: var(--color-blanco);
  font-weight: bold;
}

.cajita2 {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 97%;
  height: auto;
  text-align: center;
}

.cajita2 p {
  font-size: 25px;
  color: var(--color-blanco);
}

#cajita_boton {
  background-image: url("../../recursos/seccion5_imagen_boton.png");
  background-repeat: round;
  height: 100px;
  border-radius: 10px;
  width: 550px;
  margin-left: 110px;
}

#mega_caja_section5 {
  width: 95%;
  height: 95%;
  margin-left: 50px;
}

#seccion1_cajas_section5 {
  width: 20%;
  height: 100%;
  float: left;
}

#seccion2_cajas_section5 {
  float: left;
  width: 40%;
  height: 100%;
}

.mini_caja_section5 {
  margin-top: 5px;
  margin-left: 5px;
  width: 97%;
  height: 22%;
}

.mini_caja_section5 p {
  font-size: 25px;
}

.mini_caja2_section5 p {
  font-size: 25px;
}

.mini_caja2_section5 {
  width: 97%;
  height: 22%;
  margin-left: 5px;
  margin-top: 5px;
}

.mini_caja3_section5 {
  background-image: url('../../recursos/redes_sociales.png');
  height: 22%;
  background-repeat: round;
  background-repeat: no-repeat;
  width: 97%;
}

/*====FOOTER====*/

footer {
  clear: both;
  width: 100%;
  height: 150px;
  padding-top: 10px;
}

#footer_caja1 {
  height: 5px;
  width: 97%;
  margin-top: 10px;
  margin-left: 10px;
}

#footer_caja2 {
  width: 97%;
  margin-top: 10px;
  height: 70%;
  margin-left: 10px;
}

#footer_mini_caja1 {
  float: left;
  width: 20%;
  height: 70%;
  margin-top: 10px;
  margin-left: 10px;
}

#footer_mini_caja2 {
  float: right;
  width: 20%;
  height: 70%;
  margin-top: 10px;
  margin-right: 10px;
}
